.cardWrapper {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  width: 80vw;
}

.cardWrapper img {
    width: calc(35vw - 3rem);
}

@media (min-width: 480px) {
  .cardWrapper.landscape {
    width: 80vw;
  }

  .cardWrapper.portrait {
    width: calc(40vw - 5rem);
    margin-right: 2rem;
  }

  .cardWrapper.landscape img {
    width: 75vw;
  }

  .cardWrapper.portrait img {
    width: calc(35vw - 3rem);
  }
}

.landscapeWrapper {
  display: block;
}
