mat-card {
    display: inline-block;
    margin-right: 5rem;
    margin-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

mat-card.portrait {
    max-width: 90vw;
    margin-right: 0;
}

@media (min-width: 1056px) {
    mat-card.portrait {
        max-width: 28vw;
        margin-right: 5rem;
    }
}

mat-card.landscape {
    max-width: 70vw;
    max-height: 60vh;
    display: flex;
}

mat-card.landscape img {
    width: 60%;
    margin-right: 2rem;
    margin-top: 1rem;
}

.landscapeWrapper {
    display: block;
}
