<mat-card routerLink="/posts/{{ post.fileSlug }}" [ngClass]="effectiveOrientation">
    <img *ngIf="effectiveOrientation === 'landscape'" mat-card-image [src]="post.image"
        alt="random image">
        <div ngClass="landscapeWrapper">
            <mat-card-header>
                <mat-card-title>{{ post.title }}</mat-card-title>
                <mat-card-subtitle>{{ post.date.toLocaleDateString() }}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="effectiveOrientation === 'portrait'" mat-card-image [src]="post.image"
                alt="random image">
            <mat-card-content>
                <p>A teaser text for this blog post</p>
            </mat-card-content>
        </div>
</mat-card>