.cardWrapper {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
  width: calc(100% - 6rem);
}

.cardInnerWrapper {
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 35% auto;
}

.cardWrapper .cardInnerWrapper {
  grid-template-rows: 25% 60% auto;
}

.cardWrapper .cardInnerWrapper img {
  grid-column: 1 / span 2;
  grid-row: 2 / 2;
  max-width: 100%;
}

.cardWrapper .cardInnerWrapper .cardMetaData {
  grid-column: 1 / span 2;
  grid-row: 1 / 1;
}

.cardWrapper .cardInnerWrapper .cardContent {
  grid-column: 1 / span 2;
  grid-row: 3 / 3;
}

@media (min-width: 480px) {
  .cardWrapper.landscape {
    width: calc(100% - 6rem);
    margin-left: 0;
  }

  .cardWrapper.portrait {
    width: calc(50% - 5rem);
    margin-right: 2rem;
    margin-left: 0;
  }

  .cardWrapper.landscape .cardInnerWrapper img {
    width: calc(100% - 3rem);
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }
  
  .cardWrapper.landscape .cardInnerWrapper .cardMetaData {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }
  
  .cardWrapper.landscape .cardInnerWrapper .cardContent {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }
}

.landscapeWrapper {
  display: block;
}
