mat-toolbar {
    padding-left: 5rem;
    padding-right: 3rem;
}

mat-divider {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h1 {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.spacer {
    flex: 1 1 auto;
}

.footer {
    background-color: rgb(238, 238, 238);
    padding: 1rem;
}