@media (min-width: 1056px) {
    mat-toolbar {
        padding-left: 5rem;
        padding-right: 3rem;
    }    
}

mat-toolbar {
    flex-wrap: wrap;
    z-index: 9;
    height: auto;
}

h1 {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    font-size: small;
}

.spacer {
    flex: 1 1 auto;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 1rem;
}

.footer {
    background-color: rgb(238, 238, 238);
    padding: 1rem;
}