mat-card.first {
    display: flex;
}

mat-card.first img {
    order: 1;
}

mat-card.first mat-card-header {
    order: 2;
}

mat-card.first mat-card-content {
    order: 3;
}

.smallCardsWrapper {
    max-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}